// base screen view for admin views
extends layout

// Login info
block loginInfo
    table
        tr
            td: label Date:
        tr
            td: label Logged in as: #{username}

// Navigation bar
block navBar
    table
        tr
            td: a(href='http://localhost:3000/booksByTitle') View Books by Title
        tr
            td: a View Books by Book No.
        tr
            td: a(href='http://localhost:3000/addNewBook') Add New Book
        tr
            td: a Borrow Book
        tr
            td: a Return Book
        tr
            td: a Employee List
        tr
            td: a Add New Employee
        tr
            td: a(href='http://localhost:3000/login') Log Out
