// Edit book screen
extends adminLayout

block content
    h2 Edit Book Entry
    table
        tr
            td ISBN/Book Number:
            td: input#isbnInput(type='text',value='123123123', disabled='true')
        tr
            td Title:
            td: input#titleInput(type='text',value='Javascript')
        tr
            td Author/s:
            td: input#authorInput(type='text',value='Me')
        tr
            td Publisher/s:
            td: input#publisherInput(type='text',value='you')
        tr
            td Date Published:
            td: input#publishDateInput(type='text',value='me')
        tr
            td Quantity:
            td: input#quantityInput(type='text',value='you', disabled='true')
        tr
            td: button#saveChanges Save
