doctype html
html
    head
        title #{title}
        script(src='javascripts/main.js')
        link(rel='stylesheet', href='stylesheets/style.css')
    body#body
        #div-content
            #header-content
                table#table-header
                    tr
                        td: img(src='images/nec2.png') 
                        td: div#devinfo
                            block loginInfo
            #horizontalRule
            #div-menu
                block navBar
            #mainContent
                block content
            #footer: small Copyright &copy NEC Telecom Software Philippines, Inc. 2014 All Rights Reserved
